<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/chatbot.css" />

  </head>
  <body>
    <div class="chat-box" id="chatBox">
      <div class="chat-header">
        Trợ lý ảo
        <span style="cursor: pointer" id="closeChat">✖</span>
      </div>
      <div class="chat-body" id="chatBody">
        <div class="message-row bot">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4712/4712104.png"
            class="avatar"
          />
          <div class="message">
            Xin chào! Tôi có thể giúp gì cho kế hoạch dinh dưỡng của bạn?
          </div>
        </div>
      </div>
      <div class="chat-input">
        <input type="text" placeholder="Nhập tin nhắn ở đây..." />
        <button>➤</button>
      </div>
    </div>

    <div class="chat-button" id="chatToggle">
      <i class="fas fa-comment-dots"></i>
    </div>
    
    <script src="../assets/js/chatbot.js"></script>
  </body>
</html>
