.header{
  background-color: #d9f2df;
  height: 80px;
  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}

.logoheath{
  height: 70px;
  margin-left: 12px;
  margin-right: 10px;
}

.left-section{
  height: 65px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 40px;
  margin-left: 10px;

  padding-right: 10px;
}

.center-section{
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 18px;
}

.page-title{
  width: 580px;
  font-family: Arial;
  color: darkgreen;
  font-size: 39px;
}

.search-icon{
  height: 32px;
  cursor: pointer;
  padding-top: 3px;
}

.search-button{
  background-color: white;
  width: 50px;
  height: 40px;
  border: none;
  border-radius: 25px;
  margin-left: -50px;
  cursor: pointer;
}
.search-bar{
  flex: 1;
  height: 40px;
  border: none;
  border-radius: 25px;
  margin-left: 10px;
  padding-left: 20px;
}

.search-bar::placeholder{
  font-size: 16px;
}

.right-section{
  width: 90px;
  margin-left: 18px;
  margin-right: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.darkmode-icon{
  height: 26px;
}

.darkmode-button{
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.bell-icon{
  height: 26px;
}

.bell-button{
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

